@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --azul1: #47B5FF;
    --azul2: #1363DF;
    --azul3: #0B4B73;
    --preto: #10171A;
    --gelo: #f2f2f2;
    --branco: #ffffff;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--gelo);
    display: flex;
    justify-content: center;
}

.container {
    width: 300px;
    padding: 0;
    transition: 0.5s;
}

.container.active {
    width: 80px;
}

.navigation.active {
    width: 80px;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--azul1);
    transition: .5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 200px;
    padding-left: 10px;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--gelo);
}

/* .navigation ul li:nth-child(5) {
    margin-top: 1vh;
} */

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--preto);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--preto);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--gelo);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--gelo);
    pointer-events: none;
}

/* main */

.main {
    width: calc(100% - 300px);
    left: 300px;
    background: transparent;
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.toggle {
    width: 300px;
    background: var(--preto);
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle img {
    width: 200px;
}

.toggle.active {
    width: 80px;
    height: 200px;
}

.toggle.active img {
    transition: 0.5s;
}

/* _________________________________ CONTEUDO _________________________*/

.conteudo {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 300px);
    transition: 0.5s;
}

.conteudo.active {
    width: 100%;
    padding-left: 20px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.card {
    width: 300px;
    height: 150px;
    background-color: #47B5FF;
    border-radius: 20px;
}

.cardHeader .card-titulo {
    position: relative;
    display: block;
    padding: 0 20px;
    height: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.cardHeader .icon {
    position: relative;
    display: flex;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    padding-top: 15px;
}

.cardHeader .icon ion-icon {
    font-size: 1.75em;
}

.card-img-top {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.card-body {
    background-color: var(--gelo);
    border-top: 1px solid #10171a5a;
    text-align: justify;
    border-radius: 20px;
}

.positioncards1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.positioncards2 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*_________________________________________________________ Conteúdo____________________________________________*/

.slide-content {
    margin: 20px 40px;
}

.box {
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}

.header-content {
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}

.nameTeacher {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.header-content {
    row-gap: 5px;
}

.box-image {
    position: relative;
    height: 70px;
    width: 75px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.box-image .box-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--azul3);
}

.nameClass {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: var(--gelo);
    padding: 8px 16px;
    background-color: var(--azul2);
    border-radius: 8px;
    margin: 14px;
}