@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body {
  padding-top: 7rem;
  background-color: #F2F2F2;
}

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

header {
  background-color: #10171A;
  width: 100%;
  height: 60px;
  padding: 0rem 5rem 0rem 12rem;
  position: fixed;
  display: flex;
  top:0;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 190px;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  padding-top: 3px;
}

#home a {
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
}

#home a {
  transition: all 0s ease 0s;
}

#home a:hover {
  text-decoration: underline;
}

#pages button {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10rem;
  margin-right: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
}
#pages button {
  transition: all 0.4s ease 0s;
}

#pages button:hover {
  background-color: #0B466B;
  color: #e9ecf2;
}

/* Aqui finaliza a estilização do cabeçlho */

article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

#bordercontainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0B4B73;
  border-radius: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

#containerprinci {
  width: 100%;
  background-color:#0B4B73;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
}

#containerprinci h1 {
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 50px;
}

#containerprinci input {
  width: 40%;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #ffffff;
  outline: 0;
  color: #ffffff;
}

#containerprinci label {
  font-weight: 400;
  font-size: 1.2rem;
}


#containerprinci button {
  width: 30%;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10rem;
  margin-right: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 2rem;
}
#containerprinci button {
  transition: all 0.4s ease 0s;
}

#containerprinci button:hover {
  background-color: #ffffff;
  color: #10171A;
}


#formposition {
  width: 100%;
  display: flex;
  justify-content: center;
}

#formSignup {
  width: 70%;
  margin-bottom: 2rem;
  font-size: 1rem;
}


#formSignup p {
  margin: 0;
}

#links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

#links a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}

#links a {
  transition: all 0s ease 0s;
}

#links a:hover {
  text-decoration: underline;
}

/* Carousel Bootstrap*/

#carouselPosition {
    margin: 100px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.slide {
    width: 500px;
}

/* Fim Carousel*/ 

/* Aqui finaliza a estilização do corpo */

footer {
  display: flex;
  justify-content: center;
}

#containerfooter {
  background-color: #10171A;
  border-radius: 4rem 4rem 0rem 0rem;
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#descricoes {
  display: flex;
  height: max-content;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 17px;
  margin-bottom: 40px;
  color: #ffffff;
}

#descricoes h5 {
    font-size: 1rem;
}

.descricao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.descricao ul , li , a {
    list-style-type: none;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 0;
}

.descricao a {
  transition: all 0s ease 0s;
}

.descricao a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#redessociais {
  width: 25%;
  display: flex;
  justify-content:space-around;
  margin-bottom: 30px;
}

.rede img {
  width: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.rede img {
  transition: all 0.5s ease 0s;
}

.rede img:hover {
  box-shadow: 0px 0px 10px #fff;
}


