@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
    --azul1: #47B5FF;
    --azul2: #1363DF;
    --azul3: #0B4B73;
    --preto: #10171A;
    --gelo: #f2f2f2;
    --branco: #ffffff;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--gelo);
}

.container {
    position: relative;
    width: 100%;
}

.navigation.active {
    width: 80px;
}
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--azul1);
    border-left: 10px solid var(--azul1);
    transition: .5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 40px;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--gelo);
}

/* .navigation ul li:nth-child(5) {
    margin-top: 1vh;
} */

.navigation ul li a {
    position:relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--preto);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--preto);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--gelo);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--gelo);
    pointer-events: none;
}

/* main */

.main {
    width: calc(100% - 300px);
    left: 300px;
    background: transparent;
    transition: .5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.toggle {
    width: 300px;
    background: var(--preto);
    transition: .5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle img {
    width: 200px;
}

.toggle.active {
    width: 80px;
    height: 200px;
}

.toggle.active img {
    transition: 0.5s;
}