@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  background-color: #47B5FF;
  padding-top: 4rem;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

header {
  background-color: #10171a;
  width: 100%;
  height: 60px;
  padding: 2rem 5rem 2rem 10rem;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header img {
  width: 190px;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  padding-top: 3px;
}

#home a {
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: none;
  color: #ffffff;
}

#home a {
  transition: all 0s ease 0s;
}

#home a:hover {
  text-decoration: underline;
}

#pages button {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10rem;
  margin-right: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
}

#pages button {
  transition: all 0.4s ease 0s;
}

#pages button:hover {
  background-color: #47B5FF;
  color: #ffffff;
}

/* Aqui finaliza a estilização do cabeçalho */


/* Carousel Bootstrap*/

#introducao {
  background-color: #47B5FF;
  color: #10171a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#introEsquerda {
  padding: 50px;
  width: 60%;
}

#introEsquerda h1 {
  font-size: 50px;
  font-weight: 700;
}

#introEsquerda p {
  font-size: 18px;
  font-weight: 400;
}


#introDireita {
  width: 40%;
}

.logo {
  width: 80%;
  border-radius: 20px;
  background-color: #10171a;
}

/* Desenvolvimento do Carousel */

#carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f2f2f2;
}

.carousel-inner {
  border-radius: 30px;
}

.carousel-indicators {
  z-index: 1;
}

.slide {
  height: 650px;
} 

.subtitulos {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 30px;
}

.subtitulos h2 {
  font-size: 25px;
}

/* Fim carousel */

.posicao {
  width: 100%;
  height: 200px;
  background-color: #0b466b;
  transform: skewY(-3deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}

.conteudo {
  width: 50%;
  color: #ffffff;
  transform: skewY(3deg);
}

.posicao1 {
  width: 100%;
  height: 200px;
  background-color: #0b466b;
  transform: skewY(3deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.conteudo1 {
  width: 50%;
  color: #ffffff;
  transform: skewY(-3deg);
}

/* Edição dos cards*/

.cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 17rem;
  background-color: #47B5FF;
  border-radius: 20px;
}

.card-img-top {
  border-radius: 20px 20px 0px 0px;
}

.card-body {
  background-color: #f2f2f2;
  border-top: 1px solid #10171a5a;
  text-align: justify;
  border-radius: 0px 0px 20px 20px;
}

/* Finalização dos cards*/

/* Aqui finaliza a estilização do corpo */

footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#containerfooter {
  background-color: #10171a;
  border-radius: 4rem 4rem 0rem 0rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#descricoes {
  display: flex;
  height: max-content;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 17px;
  margin-bottom: 40px;
  color: #ffffff;
}

#descricoes h5 {
  font-size: 1rem;
}

.descricao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.descricao ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  font-weight: 100;
  font-size: 0.8rem;
  color: #ffffff;
  padding: 0;
}

.descricao a {
  transition: all 0s ease 0s;
}

.descricao a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#redessociais {
  width: 25%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.rede img {
  width: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.rede img {
  transition: all 0.5s ease 0s;
}

.rede img:hover {
  box-shadow: 0px 0px 10px #fff;
}